body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 5px;
    margin: 0;
    background-color: #f4f4f4;
    width: auto;
}


.compound{
    width: 100%;
    overflow: hidden;
}

nav #ul{
    margin:0;
    padding:0;
     
}

header {
    background: #4a5b76;
    color: #f0f0f0;
    height:57px;
    position: relative;
     padding-top: 3px;
}

nav{
    background: #4a5b76;
    border-bottom: #0de723 3px solid;
    height: 48px;
    margin-left: 0px;
    padding-left: 20px;
    
}

.page a{
    color: #072b95;;
    text-decoration: none;
    text-transform: uppercase;
    font-size:11px;
    font-weight:bold; 
    margin-top: 0;  
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.page #li{ 
    display:inline;
    position: relative;
    margin-top: 0;
}

header #VGC{
    float: left; 
    font-size:9px; 
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    margin-right: 0;
}

header #logo{
    float: left;
    position: left;
    margin-left: 6px;
    margin-top: 6px;
}

header #VGC h1{
    font-weight:bold;
    margin-bottom: 0px;
    margin-right: 0px;
}

.page nav{
    float: left;
    margin-top: 0;
}

.page .current a{
    color: #0de723;
    font-weight:bold;
}

.page a:hover{
    color: rgb(231, 236, 226);
    font-weight:bold;
}

footer {
    color: #040407;
    background-color:#6578af;
    text-align: center;
    height: 78px;
}

section h1{
    background-color: #dee4ec;
    width: 900px;
    color: #0de723;
    padding-left: 400px;
    
}

section h2, h3{
    background-color: #dee4ec;
    color: #072b95;   
}

@media only screen and (max-width:3000px){
    header { 
         
        width: 972px;
    }
    
    body {
         
        width: 970px;
    }

    nav {
         
        width: 952px;
    }
    
}